@model JuanAraujo_Examen1P.Models.JuanAraujo_tabla

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>JuanAraujo_tabla</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="JaName" class="control-label"></label>
                <input asp-for="JaName" class="form-control" />
                <span asp-validation-for="JaName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="JaTieneCita" /> @Html.DisplayNameFor(model => model.JaTieneCita)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="JaFechaCita" class="control-label"></label>
                <input asp-for="JaFechaCita" class="form-control" />
                <span asp-validation-for="JaFechaCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JaValorCita" class="control-label"></label>
                <input asp-for="JaValorCita" class="form-control" />
                <span asp-validation-for="JaValorCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
